body {
    font-family: 微軟正黑體;
    font-size:20px;
    text-align: center;
    background-color: #DCDCDC;
}
div {box-sizing: border-box;}
#title {
    background: url(image/圖片2.png);
    background-size: 450px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
}
#u {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    margin: 10px 10px;
}
#menu {
position: absolute;
width: 120px;
left: 100px;
top: 300px;
text-align:center-left;
font-size:30px;
font-weight: bold;
}
#content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 870px;
    height: 80%;
    border-radius:5px;
    background-color: #FFFAF0;
    //background: linear-gradient(to bottom, rgba(255, 255, 255,0.8), rgba(255, 255, 255,0.8));
}

.tool {
    border: none;
    width: 110px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //border-radius:5px;
    font-size: 23px;
    margin: 10px 5px;
    //-webkit-transition-duration: 0.4s; /* Safari */
    //transition-duration: 0.4s;
    cursor: pointer;
    //background: linear-gradient(to bottom, rgba(255, 255, 255,0.8), rgba(255, 255, 255,0.8));
    background-color: #333F50;
    color: white;
    border: 2px solid #333F50;
}
.tool:hover {
    background-color: white;
    color: #333F50;
    border: 2px solid #333F50;
}
.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    //-webkit-transition-duration: 0.4s; /* Safari */
    //transition-duration: 0.4s;
    cursor: pointer;
    background-color: #333F50;
    color: white;
    border: 2px solid #333F50;
}
.button:hover {
    background-color: white;
    color: #333F50;
    border: 2px solid #333F50;
}
#t {
    position: relative;
    top: 20px;
    left: 60px;
}
th {
    width: 10%;
    padding: 5px 5px;
    text-align:right;
    font-size:23px;
    //border: 1px solid #ccc;
}
td {
    width: 45%;
    padding: 3px 3px;
    font-size:20px;
    //border: 1px solid #ccc;
}
input, select, textarea {
    width: 90%;
    padding: 5px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#up_p {border: 10px dotted #595656;}
.upload_cover {
    width: 200px;
    //height: 300px;
    //margin: 50px -200px;
    cursor: pointer;
    //background: black;
    //border: 10px dotted #595656;
}
.upload_input {
    display:none;
}
.upload_icon {
left: 0;
width: 200px;
//top: 20%;
}