body {
    font-family: 微軟正黑體;
    background-image: url(pic.jpg);
    //background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
    background-size: cover;
    font-size:20px;
    text-align: center;
}
h1 { font-size:50px;}
div {box-sizing: border-box;}
#user {
    position: absolute;
    width: 110px;
    left: 0px;
}
#u {
    width: 50px;
    margin: 10px 10px;
}
#menu {
position: absolute;
width: 110px;
left: 60px;
top: 70px;
text-align:center-left;
font-size:30px;
font-weight: bold;
}
#content {
    position: absolute;
    top: 70px;
    right: 90px;
    width: 1020px;
    height: 500px;
    padding: 10px 15px;
    border-radius:5px;
    background-color: #AAB361;
    //background: linear-gradient(to bottom, rgba(119, 136, 153,0.8), rgba(119, 136, 153,0.8));
}
#upload {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 980px;
    height: 450px;
    padding: 10px 15px;
    border-radius:5px;
    background: linear-gradient(to bottom, rgba(255, 255, 255,0.8), rgba(255, 255, 255,0.8));
}
.tool {
    border: none;
    width: 110px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:5px;
    font-size: 23px;
    margin: 10px 5px;
    //-webkit-transition-duration: 0.4s; /* Safari */
    //transition-duration: 0.4s;
    cursor: pointer;
    //background: linear-gradient(to bottom, rgba(255, 255, 255,0.8), rgba(255, 255, 255,0.8));
    background-color: #AAB361;
    color: black;
    //border: 2px solid #555555;
}
.tool:hover {
    background-color: black;
    color: white;
}
.button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    //-webkit-transition-duration: 0.4s; /* Safari */
    //transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
.button:hover {
    background-color: #555555;
    color: white;
}

.upload_cover {
position: absolute;
width: 400px;
height: 300px;
margin: 50px -200px;
text-align: center;
cursor: pointer;
//background: black;
border: 10px dotted #595656;
}
#upload_input {
display: none;
}
.upload_icon {
//position: absolute;
left: 0;
width: 300px;
//top: 20%;
}